<!DOCTYPE html>
<html lang="zh-Hant-TW">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=yes, minimum-scale=1.0, maximum-scale=3.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Li-Cheng-Yan</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css">
    <link rel="stylesheet" href="./styles/style.css">
</head>
<body>
    <div id="app">
        <div class="scroll-up-btn" @click="top">
            <i class="fas fa-angle-up"></i>
        </div>
        <header>
                <a href="./" id="logo">LiChengYan</a>
                <nav :class="{active:openMenu}">
                    <a href="#home">home</a>
                    <a href="#about">about</a>
                    <a href="#services">services</a>
                    <a href="#skills">skills</a>
                    <a href="#works">works</a>              
                </nav>       
                <div class="menu-btn" @click="openMenuFn">
                    <i class="fas fa-bars" :class="{active:openMenu}"></i>
                </div>
        </header>
        
        <section class="home" id="home">
            <div class="max-width">
               <div class="home-content">
                    <div class="text-1">Hello , my name is</div>
                    <div class="text-2">LiChengYan</div>
                    <div class="text-3">I come from <span>Taoyuan</span></div>
                    <a href="javascript:;" @click="see">See More</a>
               </div>
            </div>
        </section>

        <section class="about" id="about">
            <div class="max-width">
                <div class="title">
                    <h2>About me</h2>
                </div>
            <div class="about-content">
                    <div class="column left">
                        <img src="./images/about.jpg" alt="">
                    </div>
                    <div class="column right">
                        <div class="text">I'm LiChengYan and I come from <span>Taoyuan</span></div>
                        <p>姓名:李承諺(Li-Cheng-Yan)<br>生日:1997/08/22<br>中原大學研究所資管所(2020~2022)</p>
                        <a href="#">Download CV</a>
                    </div>
            </div>
            </div>
        </section>


        <section class="services" id="services">
            <div class="max-width">
                <div class="title">
                    <h2>My services</h2>
                </div>
                <div class="services-content">
                    <div class="card" v-for="item in services">
                        <div class="box">
                            <i :class="item.class"></i>
                            <div class="text">{{item.title}}</div>
                            <p>{{item.content}}</p>
                        </div>
                    </div>
                   
                </div>
            </div>
        </section>

        <section class="skills" id="skills">
            <div class="max-width">
                <h2 class="title">My skills</h2>
                <div class="skills-content">
                    <div class="column left">
                        <div class="text">
                            My creative skills & expriences.
                        </div>
                        <li v-for="item in exp">{{item.name}}</li>
                        <!-- <a href="#">Read more</a> -->
                    </div>
                    <div class="column right">
                        <div class="bars" v-for="item in skills">
                            <div class="infor">
                                <span>{{item.name}}</span>
                                <span>{{item.bars}}</span>
                            </div>
                            <div :class="['line', item.name]"></div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="works" id="works">
            <div class="max-width">
                <h2 class="title">My works</h2>
                <div class="carousel">
                    <a v-for="item in worksCard" :href="item.href" class="card" >
                        <div class="box">
                            <img :src="item.imgsrc" alt="">
                            <div class="text">{{item.title}}</div>
                            <p>{{item.content}}</p>
                        </div>
                    </a>
                   
                </div>
            </div>
        </section>
        <section class="life" id="life">
            <div class="max-width">
                <div class="title">My life</div>
                <div class="life-content">
                    <div class="photoBox">
                        <div v-for="item in lifeImg" class="photo">
                            <img :src="item.src" alt="" @click="openImgFn">
                        </div>
                        
                    </div>
                </div>
            </div>
        </section>

        <div class="life-model" v-show="openImg">
                <div class="lifeback" @click="openImgFn"></div>
                <img :src="modelsrc" alt="">
            </div>

        <footer>
            <span>Copyright @2021<strong @click="top"> LiChengYan</strong>  All Rights Reserved.</span>
        </footer>
    </div>
    
   
    <script src="./js/vue.js"></script>
    <script src="./js/script.js"></script>
</body>
</html>